*.jar
*.class
desktop.ini
/bin
/.gradle
/.settings
/bin
/build
/eclipse
/run
/.classpath
/.project
/gradle
/gradlew
/gradlew.bat
/mod.properties
/out

# IDEA project files
/*.iml
/*.ipr
/*.iws

# Forge/FML stuff
*-fml.txt
MinecraftForge-*.txt
README.txt
forge-*-changelog.txt
src/main/java/com/

# Macintosh file system junk
.DS_Store

# Windows thumbnail cache trash
Thumbs.db
