#Macintosh file system junk
.DS_Store

#Windows thumbnail cache trash
Thumbs.db
*.jar
desktop.ini
/bin
/.gradle
/.settings
/bin
/build
/eclipse
/run
/.classpath
/.project
/gradle
/gradlew
/gradlew.bat